@import "variables.scss";


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.errorMessage, .errorMessageRadioCheckbox{
    color: red !important;
    margin-bottom: 10px;
    border: 1px solid #cacaca;
    background-color: #cacaca;
    padding: 10px;
}

.errorMessage {
    margin-top: -16px;
}

.errorMessageRadioCheckbox{
    margin-top: -40px;
    padding-top: 40px;
}