@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React .NET Application</title>

    @Styles.Render("~/bundles/main.css")
    @Scripts.Render("~/bundles/foundation.js")

    <script src="~/scripts/require.js"></script>
    <script>
        requirejs.config({
            baseUrl: '/',
            paths: {
                react: 'node_modules/react/dist/react',
                ReactDOM: 'node_modules/react-dom/dist/react-dom',
                ReactRedux: 'node_modules/react-redux/dist/react-redux',
                redux: 'node_modules/redux/dist/redux',
                expect: 'node_modules/expect/umd/expect',
                deepFreeze: 'node_modules/deep-freeze/index'
            }
        });

    </script>
</head>
<body>
    <header></header>

    <div class="container" role="main">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Walter K. Dahl</p>
    </footer>


</body>
</html>