@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" sizes="16x16 32x32" type="image/png">

    <title>React .NET Application</title>

    @Styles.Render("~/bundles/main.css")
    @Scripts.Render("~/bundles/foundation.js")

    <script src="~/scripts/require.js"></script>
    <script>
        requirejs.config({
            baseUrl: '/',
            paths: {
                react: 'node_modules/react/dist/react',
                reactDOM: 'node_modules/react-dom/dist/react-dom',
                reactRedux: 'node_modules/react-redux/dist/react-redux',
                redux: 'node_modules/redux/dist/redux',
                expect: 'node_modules/expect/umd/expect',
                jsx: 'node_modules/requirejs-react-jsx/jsx',
                babel: 'node_modules/requirejs-react-jsx/babel-5.8.34.min',
                text: 'node_modules/requirejs-text/text',
                jsxtransform: 'node_modules/jsx-transform/lib/jsx',
                orbit: 'jsx/components/orbit',
                counter: 'jsx/components/counter',
                categories: 'jsx/components/categories',
                CRUD: 'jsx/components/CRUD'
            },
            jsx: {
                fileExtension: '.jsx'
            }
        });

    </script>
</head>
<body>
    <header></header>

    <div class="container" role="main">
        <div id="content"></div>
        @RenderBody()
    </div>

    <footer class="container">
        <div class="row">
            <div class="small-12 columns">
                <p>&copy; @DateTime.Now.Year - Knowit Sør. Created by Walter K. Dahl</p>
            </div>
        </div>
    </footer>


</body>
</html>