@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.errorMessage, .errorMessageRadioCheckbox {
  color: red !important;
  margin-bottom: 10px;
  border: 1px solid #cacaca;
  background-color: #cacaca;
  padding: 10px; }

.errorMessage {
  margin-top: -16px; }

.errorMessageRadioCheckbox {
  margin-top: -40px;
  padding-top: 40px; }

.centered {
  text-align: center; }

/*''''''''''''''THROBBER. DO NOT TOUCH'''''''''''''''''''''''*/
@-moz-keyframes spinner {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.spinner {
  min-width: 60px;
  min-height: 60px;
  z-index: 1007; }
  .spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px; }
  .spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 8px solid #ccc;
    border-top-color: #009f94;
    -webkit-animation: spinner 1.6s linear infinite;
    -moz-animation: spinner 1.6s linear infinite;
    -o-animation: spinner 1.6s linear infinite;
    animation: spinner 1.6s linear infinite; }

.SpinPos {
  z-index: 1007;
  position: fixed;
  min-height: 100% !important;
  min-width: 100% !important;
  background-color: rgba(180, 180, 180, 0.49804);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.schemaLoadSpinner:before {
  position: relative;
  margin: 0px;
  display: inline-block;
  left: 0;
  vertical-align: sub;
  width: 20px;
  height: 20px;
  margin-right: 5px; }
.schemaLoadSpinner:not(:required):before {
  border-width: 5px; }

.shrinkRow {
  height: 0;
  width: 0;
  position: relative; }
  .shrinkRow td {
    padding: 0; }

.CRUDUpdateButton {
  margin-top: -1rem;
  margin-right: -2rem;
  float: right; }
  .CRUDUpdateButton:before {
    content: "\f040";
    background-color: white;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 2rem;
    line-height: 0;
    margin: 0; }

.CRUDDeleteButton {
  margin-top: -1rem;
  margin-right: -4rem;
  float: right; }
  .CRUDDeleteButton:before {
    content: "\f014";
    background-color: white;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 2rem;
    line-height: 0;
    margin: 0; }

.CRUDUpdateTable {
  margin-right: 40px; }

/*# sourceMappingURL=main.css.map */
