@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header{
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">.NET and React generic CRUD</li>
                <li><a href="@Url.Action("Categories")" class="menuPartial">Categories</a></li>
                <li><a href="@Url.Action("TargetGroups")" class="menuPartial">TargetGroups</a></li>
            </ul>
        </div>
    </div>
}

@* Used to generate antiforgery token that we use with create, update and delete requrests *@
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div id="content"></div>
<div id="crudContainer"></div>

<script>
    var unmountComponent = null;
    $(function () {
        $('.menuPartial').each(function () {
            var currentElement = $(this);
            currentElement.on('click', function (e) {
                e.preventDefault();
                $.ajax(currentElement.attr('href'), 'GET')
                .done(function (result) {
                    if (unmountComponent) {
                        unmountComponent();
                    }
                    $("#crudContainer").html(result);
                });
            });
        });
    });
</script>