@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content"></div>
<script src="@Url.Content("~/jsx/components/orbit/Orbit.jsx")"></script>
<script src="@Url.Content("~/jsx/components/orbit/OrbitImage.jsx")"></script>
<script src="@Url.Content("~/jsx/Home.jsx")"></script>